body {
    background-color: black;
}

.slider{
    margin: 50px auto;
    width: 390px;
    height: 70%;
}


.slider img{
    height: 300px;
    width: 365px;
    margin-left: 350px;
    margin-right: 10px;
}

.slick-prev {
left: 5px;
}


.text1{
 color: white;
 margin-left: 478px;
}

.text2{
    color: white;
    list-style: none;
    margin-left: 436px;
}

.text3{
    margin-bottom: 10px;
}
